extends layout

block content
  
  h1=title
  h2 This is really a quick website to be able to access history by user
  p.
   Just call /:username:
   Right now you might have some bug if people are using special characters.  
  code.  
       i.e. <a href="luizinho">baseurl/luizinho</a> will give you the history of luzinho
  p.
   Ok It's basic but more will come..
   
  
  
    